%h1 Posts
= paginate @posts
= page_entries_info @posts
%hr
- @posts.each do |post|
  %h2= post.title
  %small
    = post.user.name
    %span @
    = post.created_at
  %p
    = link_to 'Show', post_path(post)
  %hr
